@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font: 18px 'Roboto', sans-serif;
  color: #4285F4;
}

section {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-count: 4;
  max-width: 1100px;
  margin: 0 auto;
}

#welcome {
  background-color: white;
}

#welcome .img {
  cursor: pointer;
}

.btn {
  border: 2px solid #4285F4;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.red {
  background-color: white;
  color: #4285F4;
}

@media print {
  .btn {
    display: none;
  }

  .logo {
    display: none;
  }

  .language-bar {
    display: none;
  }
}

.symptoms-question {
  margin: 10px 0 30px;
  padding: 10px 0;
  border-top: 1px solid #4285F4;
  border-bottom: 1px solid #4285F4;
}

.opties {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

.kolom {
  flex: 1;
  max-width: 400px;
  padding-bottom: 40px;
  border-bottom: 2px solid;
}

.kolom:first-child {
  padding-right: 10px;
}

.kolom:nth-child(2) {
  padding-left: 10px;
}

.diagnose-layout {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: 600px;
}

.diagnose-seed {
  text-align: justify;
  padding-bottom: 60px;
  border-bottom: 2px solid;
}

.diagnose-kolom {
  flex: 1;
}

.diagnose-thumb {
  width: 100%;
}

.diagnose-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.diagnose-ziekte {
  font-size: 48px;
  color: #4285F4;
  padding: 60px 0;
}

.diagnose-ziekte::first-letter {
  text-transform: uppercase;
}

.diagnose-titel {
  font-size: 12px;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #4285F4;
  border-bottom: 1px solid #4285F4;
}

h2 {
  text-align: center;
}

.page-title {
  padding: 10px 35px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 50px;
}

/* .title-svg {

} */

.opties .thumb{
  margin: 0 auto;
  width: 100%;
  padding-bottom: 40px;
}

/* ----------------- NavBar ------------------*/
.navbar {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 20px;
}

.navbar .logo {
  flex: 1;
}

/* ------------- Loading Spinner -------------*/
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loading-spinner div {
  position: absolute;
  border: 4px solid #4285F4;
  opacity: 1;
  border-radius: 50%;
  animation: loading-spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading-spinner div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loading-spinner {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


/* ---------------- Checkbox -----------------*/
.checkbox-container {
  position: relative;
  margin-left: 30px;
}

.checkbox-container label:hover {
  cursor: pointer;
}

.checkbox-container input[type='checkbox'] {
  display: none;
}

.checkbox-container label:before,
.checkbox-container input:checked ~ label:after {
  position: absolute;
  border-radius: 50%;
  display: block;
}

.checkbox-container label:after {
  content: '';
}

.checkbox-container label:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #4285F4;
  left: -20px;
  margin-top: 5px;
}

.checkbox-container input:checked ~ label:after {
  background-color: #4285F4;
  width: 6px;
  height: 6px;
  left: -17px;
  margin-top: 8px;
  top: 0;
}
